
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(image/bg-2.png);
    background-position-x: right;
    background-repeat: no-repeat;
}

/*============== navigation bar start ============*/

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 60px;
    cursor: pointer;
    margin: 60px 0;
}
.menu-icon{
    width: 20px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
}
nav ul li a:hover{
    color: royalblue;
}
/*============== navigation bar end ============*/



/*============== buttons ============*/

.button-2{
    text-align: center;
    cursor: pointer;
    margin: auto;
    width: 150px;
    border: none;
    background: linear-gradient(to right, dodgerblue, royalblue);
    border-radius: 5px;
    height: 35px;
    padding: auto;
    color: white;
    align-items: center;
    transition: .2s;
    margin-bottom: 60px;

}
.button-2:hover{
    box-shadow: 5px 5px 7px #cbced1,
                -5px -5px 7px #ffffff;
}

.button-3{
    text-align: center;
    cursor: pointer;
    margin: auto;
    width: 220px;
    background: linear-gradient(to right, dodgerblue, royalblue);
    border-radius: 5px;
    height: 35px;
    padding: auto;
    color: white;
    align-items: center;
    transition: .2s;
    margin-bottom: 60px;
}

.button-3:hover{
    box-shadow: 5px 5px 7px #cbced1,
                -5px -5px 7px #ffffff; 
}

.button-3 h1{
    font-size: 18px;
    padding: 5px;
    font-weight: 300;


}


/*============== buttons ============*/



/*============== first section start ============*/

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.text-color-1{
    color: royalblue;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h1{
    font-size: 55px;
}
.col-1 p{
    font-size: 18px;
    text-align: justify;
    margin: 30px 0;
}
.button{
    width: 150px;
    border: none;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, dodgerblue, royalblue);
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.5s;
}
.button img{
    width: 30px;
    display: none;
}

.button:hover img{
    display: block;
}

.button:hover {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-2{
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
.col-2 .avater{
    width: 80%;
    margin-left: 60px;
}
/*============== first section end ============*/

/*============== second section start ============*/

.container-2{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;

}
/*------------------ raw-2 ----------------*/
.row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 20px;
}

.row-2-col-1{
    position: relative;
    flex-basis: 40%;
    display: flex;
    align-items: center;

}
.row-2-col-1 .programming{
    width: 80%;
    margin: 0 60px;
}

.row-2-col-2{
    flex-basis: 60%;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;


}

.row-2-col-2 h1{
    font-size: 35px;
}
.row-2-col-2 p{
    font-size: 18px;
    text-align: justify;
    margin: 30px 0;
}

/*----------------- raw-2 ----------------*/



/*----------------- raw-3 ----------------*/
.row-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 20px;
}

.row-3-col-1{
    flex-basis: 60%;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;


}
.row-3-col-1 h1{
    font-size: 35px;
}
.row-3-col-1 p{
    font-size: 18px;
    text-align: justify;
    margin: 30px 0;
}

.row-3-col-2{
    position: relative;
    flex-basis: 40%;
    display: flex;
    align-items: center;


}
.row-3-col-2 .programming{
    width: 80%;
    margin: 0 40px;
}

/*----------------- raw-3 ----------------*/


/*============== second section end ============*/



/*============== third section start ============*/


.portfolio-1{
    text-align: center;
    font-size: 27px;
    text-shadow: 5px 5px 7px #cbced1,
                -5px -5px 7px #ffffff; 
    cursor: pointer;
}

.portfolio-1 a{
    text-decoration: none;
    color: royalblue;
}

.portfolio-1 h1{
    margin: 25px 0;
    color: royalblue
}


.container-3{

    height: auto;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    padding-left: 17%;
    padding-right: 17%;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 0px;
}

.container-3 div{
    flex-basis: 25%;
    margin: 15px;
    background-color: rgb(250, 250, 250);
    padding: 25px;
    box-shadow: 5px 5px 7px #cbced1,
                -5px -5px 7px #ffffff; 
    border-radius: 10px;
}

.container-3 div img{
    width: 100%;
}

.content p{
    text-align: justify;
    line-height: 20px;
}


.little-girl{
    width: 10px;
}

/*============== third section end============*/






.footer{
    background-color: rgb(118, 151, 252);
    text-align: center;
    min-height: 20vh;
}

.footer p{
    color: white;
}


/*============== media quary ============*/

@media only screen and (max-width:700px){

    /*============== navigation bar ============*/
    nav ul{
        width: 100%;
        background-color: black;
        opacity: 0.5;
        position: absolute;
        top: 100px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }

    /*============== navigation bar ============*/

    /*============== first section ============*/

    .container{
        background-image: url(image/bg-m.png);
        background-position-x: right;
        background-repeat: no-repeat;
        padding-left: 3%;
        padding-right: 3%;
        background-size: 100%;
    }


    .row{
        flex-direction: column-reverse;
        margin: 20px 0;
        padding-right: 30px;
    }

    .col-2{
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .col-2 .avater{
        width: 77%;
    }

    .col-1{
        flex-basis: 100%;
    }
    .col-1 h1{
        font-size: 30px;
    }
    .col-1 p{
        font-size: 15px;
    }
    /*============== first section ============*/

    /*============== second section ============*/

    .container-2{
        padding-left: 3%;
        padding-right: 3%;
    }

    .row-2{
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 10px;

        align-items: center;
    
    }
    .row-2-col-1{
        flex-basis: 100%;
    }
    .row-2-col-1 .programming{
        width: 70%;
    }

    .row-2-col-2{
        flex-basis: 100%;
        align-items: center;
    }
    .row-2-col-2 h1{
        font-size: 30px;
    }
    .row-2-col-2 p{
        font-size: 15px;
    }

    .row-3{
        flex-direction: column-reverse;
        margin-top: 50px;
        margin-bottom: 10px;

        align-items: center;

    }

    .row-3-col-1{
        flex-basis: 100%;
        align-items: center;
    }
    .row-3-col-1 h1{
        font-size: 30px;
    }
    .row-3-col-1 p{
        font-size: 15px;
    }
    .row-3-col-2{
        flex-basis: 100%;
    }
    .row-3-col-2 .programming{
        width: 70%;
    }


    /*============== second section ============*/

    .container-3{
        flex-direction: column;

    }

    .container-3 div{
        flex-basis: 100%;
        width: 65%;
    }

    .portfolio-1 h1{
        margin-top: 70px;
    }
}
/*============== media quary ============*/
