
body{
    margin: 0;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(image/bg-2.png);
    background-position-x: right;
    background-repeat: no-repeat;
}

/*============== navigation bar ============*/

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 130px;
    cursor: pointer;
    margin: 10px 0;
}
.menu-icon{
    width: 20px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
}
nav ul li a:hover{
    color: royalblue;
}
/*============== navigation bar ============*/

/*============== first section ============*/

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.text-color-1{
    color: royalblue;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h1{
    font-size: 50px;
}
.col-1 p{
    font-size: 20px;
    text-align: justify;
    margin: 30px 0;
}
button{
    width: 150px;
    border: none;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, dodgerblue, royalblue);
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.5s;
}
button img{
    width: 30px;
    display: none;
}

button:hover img{
    display: block;
}

button:hover {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-2{
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
.col-2 .avater{
    width: 80%;
    margin-left: 60px;
}
/*============== first section ============*/

/*============== second section ============*/

.container-2{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;

}
/*------------------ raw-2 ----------------*/
.row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 20px;
}

.row-2-col-1{
    position: relative;
    flex-basis: 40%;
    display: flex;
    align-items: center;

}
.row-2-col-1 .programming{
    width: 80%;
    margin: 0 60px;
}

.row-2-col-2{
    flex-basis: 60%;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;


}

.row-2-col-2 h1{
    font-size: 35px;
}
.row-2-col-2 p{
    font-size: 20px;
    text-align: justify;
    margin: 30px 0;
}

/*----------------- raw-2 ----------------*/



/*----------------- raw-3 ----------------*/
.row-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 20px;
}

.row-3-col-1{
    flex-basis: 60%;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;


}
.row-3-col-1 h1{
    font-size: 35px;
}
.row-3-col-1 p{
    font-size: 20px;
    text-align: justify;
    margin: 30px 0;
}

.row-3-col-2{
    position: relative;
    flex-basis: 40%;
    display: flex;
    align-items: center;


}
.row-3-col-2 .programming{
    width: 80%;
    margin: 0 40px;
}

/*----------------- raw-3 ----------------*/


/*============== second section ============*/



/*============== media quary ============*/

@media only screen and (max-width:700px){

    /*============== navigation bar ============*/
    nav ul{
        width: 100%;
        background-color: black;
        opacity: 0.5;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }

    /*============== navigation bar ============*/

    /*============== first section ============*/

    .container{
        background-image: url(image/bg-m.png);
        background-position-x: right;
        background-repeat: no-repeat;
        padding-left: 3%;
        padding-right: 3%;
    }


    .row{
        flex-direction: column-reverse;
        margin: 20px 0;
        padding-right: 30px;
    }

    .col-2{
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .col-2 .avater{
        width: 77%;
    }

    .col-1{
        flex-basis: 100%;
    }
    .col-1 h1{
        font-size: 30px;
    }
    .col-1 p{
        font-size: 15px;
    }
    /*============== first section ============*/

    /*============== second section ============*/

    .container-2{
        padding-left: 3%;
        padding-right: 3%;
    }

    .row-2{
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 10px;

        align-items: center;
    
    }
    .row-2-col-1{
        flex-basis: 100%;
    }
    .row-2-col-1 .programming{
        width: 70%;
    }

    .row-2-col-2{
        flex-basis: 100%;
        align-items: center;
    }
    .row-2-col-2 h1{
        font-size: 30px;
    }
    .row-2-col-2 p{
        font-size: 15px;
    }

    .row-3{
        flex-direction: column-reverse;
        margin-top: 50px;
        margin-bottom: 10px;

        align-items: center;

    }

    .row-3-col-1{
        flex-basis: 100%;
        align-items: center;
    }
    .row-3-col-1 h1{
        font-size: 30px;
    }
    .row-3-col-1 p{
        font-size: 15px;
    }
    .row-3-col-2{
        flex-basis: 100%;
    }
    .row-3-col-2 .programming{
        width: 70%;
    }


    /*============== second section ============*/
}
/*============== media quary ============*/
